<article class="container">
  <section class="row justify-content-center mt-3">
    <div class="card col-8 border-bottom-0">
      <div class="card-body">
        <h1 class="card-title">{{event.name}}</h1>
        <p class="card-text">Created by: <span class="text-muted">{{event.User.first_name}} {{event.User.last_name}}</span></p>
        <p class="card-text">{{event.description}}</p>
        <p class="card-text">Created on: <span class="text-muted">{{event.date}}</span></p>
      </div>
    </div>
  </section>
  <section class="row justify-content-center mb-3">
    <form id="comment-form" class="col-8 px-0">
      <div class="form-floating mb-3">
        <textarea id="comment-input" class="form-control" placeholder="comment"></textarea>
        <label for="comment-input">Leave a Comment</label>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-sm btn-success" id="comment-submit-btn">Submit Comment</button>
      </div>
    </form>
  </section>     
  <section class="row justify-content-center">
    <div class="card col-8 px-0">
      <h2 class="card-header">Comments</h2>
      <ul class="list-group list-group-flush">
        {{#each event.Comments as |comment|}}
          {{> comment comment}}
        {{/each}}
      </ul>
    </div>
  </section> 
</article>

<script src="/js/add-comment.js"></script>